In [8]:
import pandas as pd
from sklearn import model_selection
import statsmodels.api as sm

In [2]:
profit = pd.read_excel(r'Predict to Profit.xlsx')

In [4]:
train, test = model_selection.train_test_split(profit,test_size=0.2, random_state=1234)

In [9]:
profit.columns

Index(['RD_Spend', 'Administration', 'Marketing_Spend', 'State', 'Profit'], dtype='object')

In [11]:
model = sm.formula.ols('Profit ~ RD_Spend+Administration+Marketing_Spend+C(State)', data = train).fit()

In [12]:
model.params

Intercept               58581.516503
C(State)[T.Florida]       927.394424
C(State)[T.New York]     -513.468310
RD_Spend                    0.803487
Administration             -0.057792
Marketing_Spend             0.013779
dtype: float64

In [18]:
test_x = test.drop(labels='Profit', axis=1)
pred = model.predict(exog=test_x)
test

     RD_Spend  Administration  Marketing_Spend       State     Profit
8   120542.52       148718.95        311613.29    New York  152211.77
48     542.05        51743.15             0.00    New York   35673.41
14  119943.24       156547.42        256512.92     Florida  132602.65
42   23640.93        96189.63        148001.11  California   71498.49
29   65605.48       153032.06        107138.38    New York  101004.64
44   22177.74       154806.14         28334.72  California   65200.33
4   142107.34        91391.77        366168.42     Florida  166187.94
31   61136.38       152701.92         88218.23    New York   97483.56
13   91992.39       135495.07        252664.93  California  134307.35
18   91749.16       114175.79        294919.57     Florida  124266.90

In [21]:
pred

8     150621.345801
48     55513.218079
14    150369.022458
42     74057.015562
29    103413.378282
44     67844.850378
4     173454.059691
31     99580.888894
13    128147.138396
18    130693.433835
dtype: float64

In [20]:
profit.drop('State',axis='columns').corr()

                 RD_Spend  Administration  Marketing_Spend    Profit
RD_Spend         1.000000        0.243438         0.711654  0.978437
Administration   0.243438        1.000000        -0.037280  0.205841
Marketing_Spend  0.711654       -0.037280         1.000000  0.739307
Profit           0.978437        0.205841         0.739307  1.000000